@charset "utf-8";
$txt-hover-color: #2754df;
$bg-hover-color: #366cd2;
$bg-color: #f2f2f2;
$indent: 1em;
body {
  overflow-x: auto;
  min-width: 1200px;
  font-size: 14px;
  background-color: $bg-color;
}

p {
  line-height: 1.6;
}

a:hover {
  color: $txt-hover-color;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  *margin-top: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $txt-hover-color;
  }
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
// 文本显示多少行就省略
@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

input[type="input"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}

input[type="submit"] {
  cursor: pointer;
}

input,
textarea,
select {
  background-color: transparent;
  font-family: "微软雅黑";
}

select {
  border: none;
  text-indent: $indent;
}

option {
  text-indent: $indent;
  font-family: "微软雅黑";
}

input[type="text"],
select {
  border: none;
  text-indent: $indent;
}

input[type="submit"] {
  border: none;
}

.hide {
  display: none;
}

.wrap {
  margin: 0 auto;
  width: 1200px;
}

/*分页*/

.page-wrap {
  width: 100%;
  //border-top: 1px solid #ddd;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  .page {
    margin: 30px auto;
    line-height: 34px;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 555px\9 \0;
    *width: 555px;
    *text-align: center;
    *margin-top: 10px;
  }
}

.page a {
  color: #666;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #fff;
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  &.first,
  &.end {
    width: 62px;
    background: #fff;
  }
  &.next,
  &.prev {
    width: 90px;
    background: #fff;
  }
  &.cur {
    background: #2c5ffd;
    color: #fff;
    border-color: #2c5ffd;
  }
  &:hover {
    background: #2c5ffd;
    color: #fff;
    border-color: #2c5ffd;
  }
}

/* 头部 */
.header {
  padding: 23px 0;
  background-color: #ffffff;
  .wrap {
    @extend %clearfix;
    .logo {
      float: left;
      margin-right: 26px;
      a {
        display: block;
        img {
          width: 136px;
          height: 42px;
        }
      }
    }
    .sublogo {
      float: left;
      font-size: 22px;
      line-height: 28px;
      padding-top: 6px;
    }
    .right {
      float: right;
    }
    .r-study {
      float: left;
      padding: 12px 0;
      font-size: 16px;
      line-height: 16px;
      vertical-align: middle;
      a {
        color: #333;
        margin-left: 14px;
        &:hover {
          color: $txt-hover-color;
        }
      }
      .s-wap {
        padding-right: 16px;
        background: url("../images/icon_1.png") no-repeat right center;
        cursor: pointer;
        &:hover {
          color: $txt-hover-color;
        }
      }
    }
    .r-login {
      float: right;
      margin-left: 20px;
      a {
        @extend %in-b;
        padding: 0 24px;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
        color: #333;
        border-radius: 20px;
        border: solid 1px $bg-hover-color;
        margin-left: 8px;
        &:hover {
          color: #fff;
          background: $bg-hover-color;
        }
      }
    }
  }
}

/* 导航 */
.zg-nav {
  font-size: 16px;
  line-height: 50px;
  background-color: #ffffff;
  box-shadow: inset 0px 1px 0px 0px #dddddd;
  text-align: center;
  color: #888888;
  li {
    @extend %in-b;
    padding: 0 64px;

    color: #333333;
  }
}

.banner {
  a {
    display: block;
    height: 400px;
  }
}

// 白色背景和圆角
.bc-br {
  background-color: #ffffff;
  border-radius: 10px;
}

// 类别
.zg-class {
  height: 240px;
  position: relative;
  .c-cont {
    @extend .bc-br;
    width: 100%;
    height: 100%;
    padding: 28px 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
    border: solid 1px #f6f6f6;
    text-align: center;
    font-size: 0;
    position: absolute;
    top: -35px;
  }
  li {
    @extend %in-b;
    width: 20%;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    &:last-child {
      border-right: none;
    }
    > img {
      height: 70px;
    }
  }
  .c-name {
    font-size: 16px;
    line-height: 16px;
    padding: 20px 0 10px;
    span {
      font-size: 14px;
      color: #ff6330;
      margin-left: 10px;
    }
  }
  .c-code {
    font-size: 12px;
    line-height: 12px;
    color: #888888;
    margin-bottom: 20px;
  }
  .dh {
    @extend %in-b;
    width: 120px;
    height: 34px;
    line-height: 34px;
    background-image: linear-gradient(90deg, #4178e2 0%, #235bc6 100%);
    border-radius: 17px;
    color: #fff;
    cursor: pointer;
    &.on {
      & + .dh-detail {
        display: block;
      }
    }
  }
  .dh-detail {
    display: none;
    width: 400px;
    padding: 30px 35px 20px;
    box-sizing: border-box;
    @extend .bc-br;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
    border: solid 1px #eeeeee;
    text-align: left;
    position: absolute;
    left: -78px;
    z-index: 200;
    .d-head {
      border-bottom: 1px solid #ddd;
      margin-bottom: 30px;
      img {
        float: left;
        width: 49px;
        margin-right: 26px;
        margin-top: 14px;
      }
      .c-name {
        font-size: 24px;
      }
      .c-code {
        font-size: 14px;
      }
    }
    input {
      width: 160px;
      height: 42px;
      line-height: 40px;
      background-color: #f3f3f3;
      border-radius: 6px;
      border: solid 1px #dddddd;
      margin-bottom: 10px;
      &.user-tel {
        float: right;
      }
    }
    input[type="submit"] {
      width: 100%;
      color: #fff;
      background-image: linear-gradient(90deg, #ff8737 0%, #ff6130 100%);
      border: none;
    }
  }
}

// 大标题
.zg-title {
  @extend %clearfix;
  .t-l {
    float: left;
    font-size: 24px;
    line-height: 40px;
    img {
      height: 40px;
      margin-right: 10px;
    }
  }
  .t-r {
    float: right;
    position: relative;
    .r-more {
      padding: 0 40px 0 16px;
      line-height: 38px;
      border-radius: 20px;
      border: solid 1px #cccccc;
      cursor: pointer;
      font-size: 16px;
      background: url(../images/icon_2.png) no-repeat 90%;
      &.on + .r-bc {
        display: block;
      }
    }
    .r-bc {
      display: none;
      // 因为绝对定位，所以宽度不能自适应
      width: 410px;
      padding: 10px 20px;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
      border-radius: 11px;
      position: absolute;
      top: 40px;
      right: 0;
      z-index: 100;
      strong {
        float: left;
        // width: 60%;
        // padding-right: 20px;
        color: #333333;
        font-weight: normal;
      }
      .bc-in {
        float: right;
        // width: 40%;
        span,
        a {
          color: #ff6e32;
        }
        a {
          margin-left: 20px;
        }
      }
    }
    li {
      @extend %clearfix;
      line-height: 58px;
      color: #888888;
      // white-space: nowrap;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

// 文件树
.file-tree {
  line-height: 30px;
  // 头部
  .f-head,
  .s-head,
  .t-head {
    padding-left: 26px;
    background: url(../images/hide.png) no-repeat left;
    cursor: pointer;
  }
  // 第1层
  .l-first {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    &:last-child {
      border-bottom: none;
    }
    &.show {
      .f-head {
        background: url(../images/show.png) no-repeat left;
      }
      .f-second {
        display: block;
      }
    }
    ul {
      display: none;
    }
  }
  // 第2层
  .f-second {
    display: none;
    padding-left: 24px;
    &.show {
      .s-head {
        background: url(../images/show.png) no-repeat left;
      }
      .s-three {
        display: block;
      }
      > ul {
        display: block;
      }
    }
  }
  // 第3层
  .s-three {
    display: none;
    padding-left: 24px;
    &.show {
      .s-head {
        background: url(../images/show.png) no-repeat left;
      }
      ul {
        display: block;
      }
    }
  }
  li {
    padding-left: 26px;
    padding-right: 20px;
    background: url(../images/icon_3.png) no-repeat 8px;
    cursor: pointer;
    @extend %one;
    position: relative;
    .t {
      position: absolute;
      right: 6px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 14px;
      height: 14px;
      background: url(../images/listen.png) no-repeat;
    }
    &:hover {
      padding: 4px 20px 4px 26px;
      line-height: 22px;
      white-space: normal;
      background: url(../images/icon_3.png) no-repeat #eee 8px 10px;
    }
  }

  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e6e6e6;
  }

  /*定义滑块 内阴影+圆角*/
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bbbbbb;
  }
}

// 斜线背景
.bias-bg {
  background: url(../images/bg_1.jpg) #fff;
  box-shadow: 0px 4px 20px 0px rgba(62, 73, 177, 0.1);
  border: solid 1px #f3f3f3;
  border-radius: 6px;
}

// 初级会计职称
#cj, #yj, #zj {
  padding-top: 30px;
}

.zg-cont {
  @extend %clearfix;
  padding-top: 24px;
  height: 400px;
  margin-bottom: 20px;
  .c-l {
    float: left;
    width: 860px;
    height: 100%;
    padding: 18px 0 30px 20px;
    box-sizing: border-box;
    @extend .bias-bg;
    .l-head {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 20px;
      span {
        margin-right: 20px;
      }
      .feel {
        @extend %in-b;
        padding: 0 10px;
        font-size: 14px;
        height: 28px;
        border-radius: 14px;
        color: #ffffff;
        background-image: linear-gradient(90deg, #ff8737 0%, #ff6130 100%);
        box-shadow: 0px 2px 8px 0px rgba(124, 47, 23, 0.28);
      }
    }
    .l-detail {
      @extend %clearfix;
      height: 100%;
      .d-bg {
        float: left;
        width: 500px;
        height: 300px;
        position: relative;
        cursor: pointer;
        > img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        .b-text {
          width: 175px;
          height: 46px;
          line-height: 40px;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 23px;
          color: #fff;
          font-size: 22px;
          text-align: center;

          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;

          img,
          span {
            vertical-align: middle;
          }
        }
      }
      .d-file {
        float: left;
        width: 300px;
        margin-left: 20px;
        .f-title {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
    }
    .file-tree {
      height: 266px;
      overflow-y: auto;
    }
  }
  
  .c-r {
    float: right;
    width: 320px;
    height: 100%;
    font-size: 14px;
    @extend .bias-bg;
    .r-head {
      width: 100%;
      height: 96px;
      padding: 20px;
      box-sizing: border-box;
      background: url(../images/bg_2.png) no-repeat;
      background-size: 100% 100%;
      border-radius: 6px;
      color: #ffffff;
      .h-title {
        height: 22px;
        line-height: 22px;
        font-size: 18px;
        margin-bottom: 8px;
        &::before {
          @extend %in-b;
          content: "";
          width: 8px;
          height: 100%;
          background-image: linear-gradient(0deg, #ff8737 0%, #ff6130 100%);
          border-radius: 4px;
          vertical-align: middle;
        }
        span {
          @extend %in-b;
          padding: 0 6px;
          font-size: 14px;
          height: 18px;
          line-height: 18px;
          background-image: linear-gradient(90deg, #ff8737 0%, #ff6130 100%);
          border-radius: 9px 9px 9px 0px;
          margin-left: 6px;
        }
      }
      p {
        color: rgba(255, 255, 255, 0.8);
        @include ells(2);
      }
    }
    .r-subject {
      padding-top: 20px;
      padding-left: 20px;
      line-height: 30px;
      @extend %clearfix;
      .key {
        float: left;
      }
      ul {
        float: left;
        width: 86%;
        height: 76px;
        overflow-y: auto;
      }
      li {
        @extend %in-b;
        padding: 0 12px;
        height: 30px;
        border-radius: 6px;
        border: solid 1px #bbbbbb;
        cursor: pointer;
        margin-right: 4px;
        margin-bottom: 6px;
        &:hover,
        &.on {
          color: #fff;
          border: solid 1px #ff5c5c;
          background-color: #ff5c5c;
        }
      }
    }
    .r-teachers {
      padding-left: 20px;
      color: #888888;
      margin-bottom: 10px;
      li {
        width: 60px;
        @extend %in-b;
        text-align: center;
        margin-right: 10px;
      }
      img {
        display: block;
        width: 100%;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 8px;
      }
    }
    .r-hint {
      padding: 0 16px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      background-color: #f2f2f2;
      margin: 0 20px 16px;
      a {
        color: #ff6530;
        float: right;
      }
    }
    .r-buy {
      padding: 0 20px;
      color: #ff6531;
      font-size: 18px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      span {
        font-size: 30px;
      }
      a {
        float: right;
        padding: 0 52px;
        background-image: linear-gradient(90deg, #4178e2 0%, #235bc6 100%);
        font-size: 14px;
        font-weight: normal;
        color: #ffffff;
        border-radius: 20px;
      }
    }
  }
}

.zg-list {
  font-size: 14px;
  padding-bottom: 47px;
  box-sizing: border-box;
  @extend %clearfix;
  margin-right: -18px;
  .t-l {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
    img {
      height: 30px;
    }
  }
  .l-item {
    float: left;
    @extend .bias-bg;
    width: 388px;
    height: 260px;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 18px;
  }
  .i-hint {
    color: #888888;
    height: 48px;
    @include ells(2);
  }
  li {
    height: 30px;
    margin-bottom: 10px;
    a {
      float: right;
      padding: 0 20px;
      height: 28px;
      line-height: 28px;
      border-radius: 15px;
      color: #366cd2;
      border: 1px solid #366cd2;
      &:hover {
        color: #fff;
        background: #366cd2;
      }
    }
  }
  .i-explain {
    @include ells(3);
  }
  .i-answer {
    text-align: center;
    padding-top: 20px;
    .a-btn {
      @extend %in-b;
      padding: 0 20px;
      height: 28px;
      line-height: 28px;
      border-radius: 15px;
      color: #366cd2;
      border: 1px solid #366cd2;
      margin: 0 6px;
    }
  }
}

.zg-fill {
  background: #fff;
  padding-top: 48px;
}
.zg-bar {
  height: 120px;
  color: #fff;
  margin-bottom: 58px;
  position: relative;
  > img {
    position: absolute;
    top: 0;
  }
  .b-title,
  .b-limit {
    position: absolute;
    left: 58px;
  }
  .b-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #ffffff;
    top: 22px;
  }
  .b-limit {
    font-size: 22px;
    padding: 0 52px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.3);
    top: 68px;
  }
  a {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 44px;
    font-size: 24px;
    font-weight: bold;
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
    background-image: linear-gradient(90deg, #ff8737 0%, #ff6130 100%);
    color: #fff;
  }
}

// 常见问题
.zg-question {
  padding: 60px 0 30px;
  // height: 561px;
  background: url("../images/bg_3.jpg") no-repeat center;
  .q-head {
    font-size: 36px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
    span {
      vertical-align: middle;
    }
    &::before,
    &::after {
      @extend %in-b;
      content: "";
      width: 26px;
      height: 35px;
      vertical-align: middle;
      margin: 0 20px;
    }
    &::before {
      background: url("../images/t_l.png") no-repeat;
    }
    &::after {
      background: url("../images/t_r.png") no-repeat;
    }
  }
  ul {
    @extend %clearfix;
    margin-right: -30px;
    li {
      float: left;
      width: 380px;
      padding: 27px 23px 0;
      box-sizing: border-box;
      height: 160px;
      background-color: #ffffff;
      border-radius: 8px;
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
  .q-title {
    font-size: 24px;
    height: 42px;
    line-height: 42px;
    padding-left: 59px;
    background: url(../images/q.png) no-repeat left;
    margin-bottom: 10px;
  }
  .q-answer {
    padding-left: 59px;
    @include ells(3);
  }
}

/* 底部 */
.footer {
  background-color: #fff;
  padding-top: 38px;
  .foot-tit {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-left: solid 4px #ff5e2c;
    line-height: 1;
    padding-left: 8px;
    margin: 12px 0;
  }
  .xg {
    font-size: 14px;
    color: #666;
    @extend %in-b;
    padding: 0 6px 0 12px;
  }
  .links-box {
    padding: 6px 0 10px 0;
    a {
      color: #666666;
      &:hover {
        color: $txt-hover-color;
      }
    }
  }
  .btm {
    @extend %clearfix;
    padding-bottom: 48px;
    .left {
      p {
        color: #666;
        span {
          font-size: 18px;
          color: #ff5e2c;
        }
      }
    }
    .right {
      width: 560px;
      .ma,
      .p-box {
        @extend %in-b;
        vertical-align: middle;
        margin-top: 10px;
      }
      .p-box {
        width: 200px;
        margin-left: 28px;
        .p1 {
          font-weight: bold;
          font-size: 20px;
          color: #333;
          span {
            color: #264994;
          }
        }
        .p2 {
          color: #999999;
        }
      }
    }
  }
  .copyright {
    background-color: #323c52;
    height: 44px;
    p {
      line-height: 44px;
      color: #878f9f;
      font-size: 12px;
      text-align: center;
    }
  }
}
